:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

mat-sidenav-container {
  flex: 1;
  margin-top: 64px; // for toolbar height
}

mat-sidenav {
  width: 250px;
  padding-top: 10px;
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.content-container {
  padding: 20px;
}

// For mobile screens
@media (max-width: 599px) {
  mat-sidenav-container {
    margin-top: 56px; // mobile toolbar height
  }

  mat-sidenav {
    width: 200px;
  }
}
